.formContainer {
    width: 280px;
    margin: 0 auto;
}

.form {
    display: flex;
    width: 280px;
    border: none;
}

.input {
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: var(--body-bg-color);
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / .1), 0 2px 4px -2px rgb(0 0 0 / .1);
        --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: none;
    transition: background-color 0.3s linear;
    color: var(--font-color);
}

 [data-theme='dark'] .input{
    --tw-bg-opacity: 1;
    background-color: rgb(48 45 58 / var(--tw-bg-opacity));
 }


.input:focus {
 
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

/* .input:focus+.submitButton {
    transition: background-color 0.3s linear;
    background-color: #ffc700;
} */

.input::placeholder {
    color: #888888;
}

.submitButton {
    /* background-image: url('../../images/search-icon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    width: 38px;
    background-color: #424242;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s linear; */
        --tw-text-opacity: 1;
            color: rgb(255 0 0 / var(--tw-text-opacity));
            background-color: transparent;
}

 